05 21 * * 1,3,5,7 pwhois ((/usr/local/sbin/pwhois-snapshot-load) 2>&1) > /dev/null
12 03 * * 2 pwhois ((/usr/local/sbin/pwhois-arin-snapshot-load) 2>&1) > /dev/null
05 3 * * * root ((/etc/init.d/pwhoisd reload) 2>&1) > /dev/null
